
body {
    background-image: url('imagens/estacionamentoIFBA.jfif');
    background-size: 100% 100%;
    
    }
.Titulo{
    background-image: url('imagens/FundoTituloADS.svg');
    opacity:0.8;
    text-align: center;
    
}
.Titulo h1{
   
    box-shadow: 15px 0 0 0 #0155b4;
    background: #004ea7;
    opacity: 0.8;
    display: inline;
    padding: 0px 0 !important;
    color: #000000;
    
}


.formulario {
        
        
        background: rgba(255, 255, 255, 0.8);
        padding: 70px;
        border-radius: 30px;
        max-width: 800px;
        width: 60%;
        max-height:67%;
        margin: 0 auto;
        border-color: black ;
    padding-top: 0;
      
    }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('imagens/estacionamentoIFBA.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-image: url('imagens/fundoMenu.png');
}
.nav img{
    justify-items: right;
}
.menu{
    display: flex;
    justify-content: space-around;
    
}
.formulario textarea{
    width: 100%;
    height: 50px;
    opacity: 0.3;
    border-color: #000000;
}
.formulario button{
    
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    justify-content: center;
    color: #000000;
    font-size: 20px;
    
  
}
.formulario h2{
   text-align: center;
}

.formulario button:hover {
    background-color: #1e8100;
    
    justify-content: center;
}

.menu a {
padding: 10px 20px;
text-decoration: none;
color: black;
border: 2px solid transparent;
border-radius: 5px;

}

.menu a:hover {

 color: rgb(0, 0, 0);
background-color: #017a29;
border-radius: 70px;

}
.TituloFormulario{
width: 100%;

background-color: #017a29;
}